
.form-container {
	padding: 25px 30px;
	background-color: #f8f9fa;
	margin-top: 50px;
	margin-bottom: 50px;
}

.logout-button {
	border: none;
    background-color: transparent;
}
.main-content{	
	margin-bottom: 20px;
}
.padding{
	padding: .5rem 1rem;
}
.mt-15{
	margin-top: 15px;
}
.mt-10{
	margin-top: 10px;
}
input.checkbox-form{
	left: 0;
	width: 50px;
	cursor: pointer;
}
.mb-15 {
	margin-bottom: 15px;
}
.mb-30 {
	margin-bottom: 30px;
}
.mt-30{
	margin-top:30px;
}
.p-40{
	padding: 40px;
}
.rezept-kategorie{
	border-right: 1px solid #ddd;
	margin-right: 15px;
	padding: 5px 10px;
}
.rezept-kategorie:nth-last-child(1){
	border-right: none;
}

a.rezept-kategorie:hover{
	text-decoration: none;
}
a.liste-hinzufuegen {
   font-size: 14px;
   float: right;
}
.w-100{
	width: 100%;
}
.p-0{
	padding: 0px;
}
.navbar.bg-light.panel-navbar .navbar-nav .nav-item{
	padding: 5px 10px;
}
.navbar.bg-light.panel-navbar .navbar-nav .nav-item.active{
	background-color: #17a2b8;
}
.navbar.bg-light.panel-navbar .navbar-nav .nav-item.active a{
	color:#FFFFFF;
}
.such_feld_container{
	background-image: url('../images/banner.jpg');
	height: 350px;
	padding: 0;
	margin-bottom: 20px;
}
form.such_form{
	padding-top:140px;
}
form.such_form input{
    padding: 25px 15px;	
}
form.such_form button
{
	padding: 12px;
}
.flex{
display: flex;
}
.social-icon{
	flex: 1;
}

.color{
	color: #17a2b8;
}
.footer{
	padding: 30px;
}
.box-link:hover{
	text-decoration: none;
}
.box:hover{	
	background-color: #17a2b8;
}
.page-not-found-title{
	font-size: 90px;
}
.page-not-found-text{
	font-size: 18px;
}
.box i, .box p{
	color: #17a2b8;
}
.box:hover i,.box:hover p{
	color: #FFFFFF;
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }	
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}
.title
{
	margin-bottom: 15px;
    font-size: 16px;
    font-style: italic;
}
.active
{
	font-weight: 600;
    color: #dc3545;
}
.box
{
    height: 150px;
    padding-top:25px;
    width: 100%;
    text-align: center;   
    border: 1px solid #eee;	
}
.rezept-kategorie-container{
	margin-top: 15px;
}
@media all and (max-width: 768px) {

	.rezept-kategorie-container{
		margin-top: 5px;
	}
	.rezept-kategorie{
		padding: 0px;
	}
	.rezept-details-title{
		margin-top: 15px;
	}
	button.liste-hinzufuegen{
   		margin-top: 15px;
   	    margin-bottom: 15px;		
	}
}

@media all and (max-width: 992px) {
	table.table-hover a.btn-secondary{
		margin-bottom: 5px;
	}
}